body {
    font-family: 'Muli', sans-serif;
    margin: 0 auto;
    background: #b0b0b0;
    font-weight: 300;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-style{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 274px;
    background-color: #F8F8F8;
    margin: 0 auto 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

label.style-color {
    color: grey;
}

div#header {
    margin: 130px 290px;
}

#form-style input[type="email"], #form-style input[type="password"] {
    margin-left: -3px;
    border: 1px solid #dedcdb;
    border-radius: 3.5px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

#form-style input[type="submit"] {
    margin-left: 10px;
    border: 1px solid #dedcdb;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
    color: white;
    background-color: #212129;
    float: right;
}

.login-vita-style {
    font-size: 30px;
    color: grey;
    text-align: center;   
}

.center-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 600px;
    background-color: #F7F7F7;
}