html{
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0 auto;
    background: #f7f2ee;
    font-weight: 300;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    margin: 0 auto;
}

div.content{
    flex:1 0 auto;
}

.h4, h4 {
    margin-bottom: 20px;
}

.cont-space{
    margin-bottom: 30vh;
    margin-top: 30vh;
    text-align: center;
}

.fixed-top {
    background-color:#212129;
    opacity: .95;
}

button.btn.btn-dark {
    float: right;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

.form-container{
    width: 100%;
}

.color-user{
    color:#f7f2ee;
}

p.color-user {
    margin-top: 8px;
    margin-left: 5px;
}

.color-user > a{
    color:#f7f2ee;
}

.color-user > a:hover {
    color: #f0b67f;
}


.logo {
    border: 1px solid #f7f2ee;
    border-radius: 5px; 
}

.style-con {
    padding-bottom: 30px;
}

.nav-link {
    color: #f7f2ee;
}

.navbar-nav > a:hover {
    border-bottom: 1px solid #f7f2ee;
    color: #f0b67f;
    box-shadow: none;
    transition: border-bottom .33s ease-out;
}

.nav-admin > a:hover {
    color: #f0b67f;
}

.nav-logo > a:hover {
    color: #f0b67f;
}

.space-style {
    margin-top: 10vh;
}

.backgroundimg {
    background-image: url(images/Depositphotos_201349494_xl-2015.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    align-items: center;
    opacity: .75;
}

.style-head {
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    color: white;
    align-items: center;
}

.style-head::after {
    background-color:blue;
}

#container {
    align-items: center;
}

.img-container {
    background-size: cover;
    width: 200px;
    height: 170px;
    background-repeat: no-repeat;
    opacity: .75;
    border-radius: 50%;
    margin-left: 20%;
}

h1 {
    border-bottom: solid .75em transparent;
    box-shadow: 0 1px 0 -1px black;
    background: white padding-box;
}

input {
    margin-left: 10px;
    border: 1px solid #dedcdb;
    border-radius: 3.5px;
}


p.error {
    color: #FB3F41;
    background-color: #ffe0ee;
}

.main {
    height: 1500px;
}

footer {
    padding: 10vh 0;
    text-align: center;
    background-color:#212129;
    color: white;
}

